@{
    var str = ViewData["welcome"];
    <h1 align="center">@str</h1>
}
<div align="center" style="border: 1px solid blue">
<form action="/Home/Register" method="post">
  
    <table >
            <br />
            <br />
        <tr>
            <Label>User_Name</Label>
            <input type="text" id="name" name="name" />
        </tr>
            <br />
            <br />
        <tr>
            <Label>User_Age</Label>
            <input type="text" id="age" name="age" min="18"  />
        </tr>
            <br />
            <br />   
        <tr>   
            <Label>User_Email</Label>
            <input type="email" id="email" name="email" />
        </tr>
                <br />
                <br />
        <tr>
            <Label>User_Password</Label>
            <input type="password" id="password" name="password" />
        </tr>
            <br />
            <br />
        <tr>
            <Label>User_hobies</Label>
                <select name="hobies" id="hobies">
                <option value="MUSIC">MUSIC</option>
                <option value="DANCING">DANCING</option>
                <option value="GAMING">GAMING</option>
                <option value="TEACHING">TEACHING</option>
            </select>
        </tr>
            <br />
            <br />
        <tr>
            <Label>Birth_Date</Label>
            <input type="date" id="dob" name="dob" />
        </tr>
            <br />
            <br />
        <tr>
                <button type="submit" class="btn btn-success">Register</button>
                <button type="reset" class="btn btn-light">Clear</button>
        </tr>
            <br />
            <br />
    </table>
</form>
</div>
